body{
	background-image: url(background.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.required {

   color: red;
}
 
.errorMsg {  
   color: red;
}
 
.errorBox {  
   border: 2px solid red;
}
 
table {
   border: 0;
}
 
td {
   margin: 0;
   padding: 3px 10px;
}